.dialog_container{

    position: fixed;
    z-index: 100;
    display: flex;
    min-height: 100vh;
    color: whitesmoke;
    justify-content: flex-start;
}

.close_btn{
    position: fixed;
    right: 2rem;
    top: 1rem;
    /* background-color: red; */
}

.left{
    min-width: 55vw;
    background-color: rgba(0,0,0,0.6);

}
.right{
    width: 40vw;
    background-color: rgb(3, 3, 3);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

}
.p-item3,.p-item4{
    padding-right: 3rem;
   
}

.image_container{
    background-color: whitesmoke;
    border: 1px solid grey;
    /* margin-right: rem; */
    width:91%;

}
.portfolio-rtr{
    width:fit-content;
    
}

@media only screen
and (max-device-width:780px){
  
   .right{
    display: flex; 
    justify-content: center;
    width: auto;
    
   }
   .left{
    display: none;
   }
   .image_container{
    width: 100%

   }
   .portfolio-rtr{
   width: 90%;
   }
   .close_btn{
    
    right: 1.5rem;
    top: 1rem;
    font-size: 1.5rem;

}
}
