.bgportfolio{
    background-image: linear-gradient(to right, rgb(33, 33, 34) , rgb(0, 0, 0));
    height: 100vh;
    width: 100vw;
    color: rgb(255, 255, 255);
    font-family: "Macha Medium" ;
    position: fixed;
}
.sp1{
    color:  rgb(255, 180, 0);
}
.portfoliocntr{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
    min-height: 50rem;
}
.heading-portfolio{
    background: linear-gradient(to right, #ffffff 50%,  rgb(255, 180, 0)50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 4rem;
    font-size: 4rem;
    
}
.pitch-line{
    margin-left: 0.5rem;
}
.portfolioline{
    background-color: orange;
    width: 2rem;
    height: 0.01rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.box-cntr{
    margin-top: 4rem;
    width: 80rem;
    height: 30rem;
    display: flex;
  
}
.box-1{
    background-color: rgb(246, 148, 148);
    margin-top: 2.5rem;
    margin-left: 1.2rem;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.heading1{
 font-size: 2rem;
 padding: 3rem;
}
.nav-b{
    position: fixed;
}